:root{
    --mycolor: rgb(44, 44, 155);
}
:root{
    --lightColor: rgb(96, 96, 192);
}
#logo{
    width: 57px;
    animation: logoAnimate 9s linear infinite;
}
.sideBar{
    font-size: 13px;
}
.btns button, .catBtn{
    border-radius: 19px !important;
}
#guest{
    font-size: 12px;
    color: rgb(40, 40, 209);
}

button, input, .card{
    border-radius: 19px !important;
}
.card{
    background-color: rgb(245, 245, 245) !important;
}
.navbar{
    background-color: rgb(209, 209, 248);
}
.both{
    border-radius: 19px !important;
}
.btnedit{
    background-color: rgb(209, 209, 248) !important;
}
.btndlt{
    background-color: rgb(182, 182, 182) !important;
}
.btndlt:hover{
    color: white !important;
}
.btnedit:hover{
    background-color: rgb(60, 60, 121) !important;
    color: white !important;
}
.card-title{
    color: rgb(52, 52, 138) !important;
}
.above{
    position:fixed !important;
    top: 0;
    left: 0 !important;
    z-index: 2;
}
 .myoffcanvas{
    margin-top: 90px !important;
}
.btnLogin{
    background-color: var(--mycolor) !important;
    color: white !important;
}
.btnLogin:hover{
    background-color: var(--lightColor) !important;
    color: white !important;
}
.btnsearch{
    border: 1px solid var(--mycolor) !important;
    color: var(--mycolor) !important;
}
.btnsearch:hover{
    background-color: var(--mycolor) !important;
    color: white !important;
}
#addPost{
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}
.offcanvas {
    width: 300px !important; /* Adjust the width to your preference */
}
.mybg{
    background-color: rgb(137, 137, 193) !important;
}
.logo-head{
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    background: #FF0000;
    background: linear-gradient(to left, hsl(214, 67%, 91%) 0%, #06538e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:768px){
    .opt{
        margin-bottom: 15px !important;
    }
    
}

@keyframes logoAnimate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}
